
@font-face {
    font-family: dogica;
    src: url("../Fuentes/dogica.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
  }

  #fuente{
    font-family: dogica;
  }


.avisos-cookies {
    display: none;
    background-color: #fff;
    padding: 20px;
    width:  calc(100%-40px);
    max-width: 300px;
    line-height: 150%;
    border-radius: 15px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    padding-top: 60px;
    box-shadow: 0px 2px 20px 10px rgb(222 ,222,222);
    text-align: center;
}

.avisos-cookies .galleta{
    max-width: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    border-radius: 0px;
}

.avisos-cookies .titulo,
.avisos-cookies .parrafo{
    margin-bottom: 15px;
    font-family: dogica;
}

.avisos-cookies .boton {
    width: 100%;
    background-color: rgb(110, 110, 110);
    border: none;
    color: #fff;
    font-family: dogica;
    text-align: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.avisos-cookies .boton:hover {
    background-color: #000;
}

.avisos-cookies .enlace {
    color: rgb(77, 167, 219);
    text-decoration: none;
    font-family: dogica;
    font-size: 14px;
}

 .avisos-cookies.activo {
     display: block;
 }

.avisos-cookies .enlace:hover {
    text-decoration-color: rgb(77, 155, 201);
    text-decoration: underline;
}

.fondo-avisos-cookies{
    display: none;
    background: rgba(0, 0, 44, 0.808);
    position: fixed;
    z-index: 99;
    width: 1000cm;
    height: 1000cm;
    top: 0;
    left: 0;
}

.fondo-avisos-cookies.activo{
    display: block;
}

h1,h2,h3{
  font-family: calibri;
}
