	main{
text-align: center;
font-family: calibri,helvetica;
padding: 10em;
}

.volver{
	background-color: : #fff;
	color: #0000;
	font-size: 30px;
	font-family: dogica;
	border-radius: 5px;
	border: none;
	padding: 2em
}
