body{
  background-color:#FFBD92;
}

.logo{
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
}

@font-face {
  font-family: dogica;
  src: url(/Fuentes/dogica.ttf);
}

#fuente{
  font-family: dogica;
}

.titulo1{
  font-family: dogica;
  font-size: 20px;
  text-align: center;
}

.titulo2{
  font-family: dogica;
  font-size: 15px;
  text-align: center;
}

.titulo3{
  font-family: dogica;
  font-size: 25px;
  background-color: #D0FF33;
  width: 270px;
  height: 40px;
  border-radius: 6px;
  padding: 15px 10px 5px;
  color: #25AA44;

}

.Videos{
  padding-top: 5px;
}

.Videostop{
  border-radius: 7px;
  color: #46C16B;
  background-color: #FFE16C;
  border: none;
  vertical-align: middle;
  font-size: 20px;
  font-family: dogica;
  width: 150px;
  height: 50px;
 cursor: auto;
}

.Videostop:hover{
  background-color: #D3FF6C;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 7px 8px;
  overflow: hidden;
  background-color: #FFE16C;
  align-content: center;
  text-align: center;
  border-radius: 5px;
  line-height:20px;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 12px 14px;
  text-decoration: none;
  font-family: dogica;
  border-radius: 7px;
  color: #46C16B;
}


li a:hover:not(.active) {
    transition: 0.5s;
    background-color: #D3FF6C;
}

.active {
    background-color: #A4C654;
}

.Opciones{
  font-weight: 600;
  font-size: 25px;
  background-color:#FF5454;
  width: 345px;
  height:190px;
  border-radius: 40%;
  color:#FFFF54;
  font-family: 'Josefin Sans', sans-serif;
  vertical-align: baseline;
  padding-top: 100px;
}

::selection{
  background-color:crimson;
  color: #FFBD92;
  text-shadow: rgb(255, 64, 102);
}
