body{
  background-color:#FFBD92;

}

.logo{
  display: inline-block;
  vertical-align: middle;
}

@font-face {
  font-family: dogica;
  src: url(../Fuentes/dogica.ttf);
}

#fuente{
  font-family: dogica;
}

.Texto0{
  font-family: dogica;
  width: 125px;
  height: 40px;
  color: #fff;
  background-color:#6970E8;
  border-radius: 5px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 900;
}

.Texto1{
  font-family: dogica;
  width: 250px;
  height: 40px;
  color: #fff;
  background-color:#FF4F4F;
  border-radius: 5px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 900;
}

.Texto{
  font-family: dogica;
  width: 500px;
  height: auto;
  color: #FDFFAC;
  background-color:#FFAC4F;
  border-radius: 5px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 20px;
}

.Titulos{
  font-family: dogica;
  width: 400px;
  height: 40px;
  color: #fff;
  background-color:#FF4F4F;
  border-radius: 5px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 900;
}

.Video0{
  border-radius: 20px;
  border:10px solid #FFFF54;
  width: 500px;
  height: 260px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 7px 8px;
  overflow: hidden;
  background-color: #FFE16C;
  align-content: center;
  text-align: center;
  border-radius: 5px;
  line-height:20px;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 12px 14px;
  text-decoration: none;
  font-family: dogica;
  border-radius: 7px;
  color: #46C16B;
}


li a:hover:not(.active) {
    background-color: #D3FF6C;
}

.active {
    background-color: #A4C654;
    border-radius: 7px;
}

.info{
  color: #b43e3e;
  font-family:dogica,Helvetica, sans-serif;
  font-weight:900;
  font-size: 20px;
  padding-top: 15px;
}

.info1{
  color: #5e855b;
  font-family: dogica, Helvetica, sans-serif;
}

.fondo{
  width: 200px;
  height: 200px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #93df31;
  border-radius: 100%;
  font-family: dogica, Helvetica, sans-serif;
}
