body{
  background-color:#FFBD92;
}

@font-face {
  font-family: dogica;
  src: url(file:///C:/Users/celeron/Google%20Drive/Jeremy/web/Pixivideos/Fuentes/dogica.ttf);
}

#fuente{
  font-family: dogica;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFE16C;
    align-content: center;
    text-align: center;
    border-radius: 5px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #46C16B;
      vertical-align: middle;
    padding: 14px 16px;
    text-decoration: none;
    font-family: dogica;
    border-radius: 7px;
}

.Videos{
  padding-top: 5px;
}


li a:hover:not(.active) {
    background-color: #D3FF6C;
}

.active {
    background-color: #A4C654;
    color: #D3FF6C;
  padding-top: 5px;

}
